*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
:root{
 --color:red;
}
.bg{
    background-image: url("./Images/background.jpg");
    width: 100vw;
    height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    z-index: -1;
    filter: blur(4px);
   
}
.parent_score{
    display: flex;
    flex-direction: row;
    height: 7vw;
    
}
h3{
    font-size: 1.5rem;
}
.child_score{
    display: flex;
    flex-direction: column;
    gap:20px;
    flex: 1 1 200px;
    justify-content:flex-start;
    align-items: center;
}
.heading h1{
    font-size: 3rem;
  
}
.parent{
    border: 2px solid black;
    width: 100vw;
    height: 80vh;
 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    margin-bottom: 20px;
    background: #fdedc5ab;
}
.child{
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    height: 40%;
    flex: 1 1 250px;
    margin: 10px;
    justify-content:space-evenly;
    align-items: center;
}
.child img{
    max-width: 50%;
    height: 50%;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}
button{
    width: 100px;
    height: 40px;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #ded3ce;
    border: 2px solid #2b2527;
    filter: drop-shadow(2px 0px 7px white);
}
.banner{
    position: absolute;
    height: 52vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.win{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    background: #70ff70b5;
    z-index: -100;
}
.loose{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    background:rgba(245, 43, 43, 0.598);
    z-index: -100;
}
.draw{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100vw;
    background:rgba(255, 180, 81, 0.793);
    z-index: -100;
}
.visible{
    z-index: 100;
}
@media(max-width:1000px){
    .child img{
        height: 40%;
    }
}
@media(max-width:814px){
    .bg{
        height: 120vh;
    }
}
@media(max-width:550px){
    .bg{
        height: 187vh;
    }
}
